
/* Your CSS Code here. */
.holder{
	display: flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:500;
	height:auto;
	border: 2px solid black;
	justify-content: space-between;
}
.holder > .item1{
	background-color:red;
	padding:20px;
	order:1;
	
	
}
.holder >.item2{
	background-color:blue;
	padding:20px;
	order:2;
	
	
}
.holder >.item3{
	background-color:green;
	padding:20px;
	
	
}
/*
.item1{
	background-color:red;
}
.item1{
	background-color:blue;
}
*/
