
/* Your CSS Code here. */
.container{
	background-color:white;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	 justify-content: space-between;
	align-items: center;
	
	
	
	
}
.item{
	background-color:green;
	margin:2px
	
}
